<template>
    <header class="py-5 bg-white border-solid border-2 rounded-b-lg shadow-md border-t-4 border border-t-sky-600 text-right px-2">
      <a class="text-cyan-500 hover:underline font-medium" href="#">Login</a>
    </header>
</template>

<script>
export default {
  name: 'Header'
}
</script>