<template>
    <div class="bg-clear-day">
        <div class="text-center text-oxford-blue text-4xl">
                Deine Job <br>
                website
        </div>
        <div class="bg-no-repeat bg-cover bg-center bg-contain h-full bg-clear-day h-96" style="background-image: url(img/img-1.png)"> </div>
    </div>
</template>

<script>
export default {
    name: "Welcome"
}
</script>
