<template>
  <div class="flex flex-wrap">
    <div class="w-full">
      <ul class="flex flex-nowrap mx-5 mb-0 list-none flex-wrap pt-3 flex-row overflow-x-auto" ref="content">
        <li v-for="tab in tabsList" :key="tab.id" class="-mb-px last:mr-0 flex-auto text-center border-black">
          <a 
            class="text-lg px-5 py-3 block leading-normal border-solid border-2 cursor-pointer" 
            v-on:click="toggleTabs(tab.id, tab.contentComponent)" 
            :class="{
                'text-teal-600 bg-white': openTab !== tab.id, 
                'text-white bg-teal-200': openTab === tab.id, 
                ...tab.classes
            }">
            {{ tab.name }}
          </a>
        </li>
      </ul>

      <component :is="currentContentComponent"/>
    </div>
  </div>
</template>

<script>
import EmployeeContent from './EmployeeContent/EmployeeContent.vue';
import EmployerContent from './EmployerContent/EmployerContent.vue';
import TemporaryOfficeContent from './TemporaryOfficeContent/TemporaryOfficeContent.vue';

export default {
  name: "menu-tabs",
  components: {
    EmployeeContent, 
    EmployerContent, 
    TemporaryOfficeContent
  },
  data() {
    return {
      openTab: 1,
      currentContentComponent: EmployeeContent,
      tabsList: [{
            id: 1, 
            name: 'Arbeitnehmer', 
            classes: {'rounded-l-lg': true, 'border-r-0': true},
            contentComponent: EmployeeContent
          },
          {
            id: 2, 
            name: 'Arbeitgeber', 
            classes: {},
            contentComponent: EmployerContent,
          },
          {
            id: 3, 
            name: 'Temporarburo', 
            classes: {'rounded-r-lg': true, 'border-l-0': true},
            contentComponent: TemporaryOfficeContent
          }
      ],
    }
  },
  methods: {
    toggleTabs: function(tabNumber, contentComponent){
      this[`swipe${tabNumber < this.openTab ? 'Left' : 'Right'}`]()

      this.openTab = tabNumber
      this.currentContentComponent = contentComponent
    },

    
    scrollTo(element, scrollPixels, duration) {
      const scrollPos = element.scrollLeft;
      // Condition to check if scrolling is required
      if ( !( (scrollPos === 0 || scrollPixels > 0) && (element.clientWidth + scrollPos === element.scrollWidth || scrollPixels < 0))) 
      {
        // Get the start timestamp
        const startTime =
          "now" in window.performance
            ? performance.now()
            : new Date().getTime();
        
        function scroll(timestamp) {
          //Calculate the timeelapsed
          const timeElapsed = timestamp - startTime;
          //Calculate progress 
          const progress = Math.min(timeElapsed / duration, 1);
          //Set the scrolleft
          element.scrollLeft = scrollPos + scrollPixels * progress;
          //Check if elapsed time is less then duration then call the requestAnimation, otherwise exit
          if (timeElapsed < duration) {
            //Request for animation
            window.requestAnimationFrame(scroll);
          } else {
            return;
          }
        }
        //Call requestAnimationFrame on scroll function first time
        window.requestAnimationFrame(scroll);
      }
    },
    swipeLeft() {
      const content = this.$refs.content;
      this.scrollTo(content, -55, 1);
    },
    swipeRight() {
      const content = this.$refs.content;
      this.scrollTo(content, 55, 1);
    }
  
  }
}
</script>