<template>
    <footer class="py-5 bg-white border-solid border-2 rounded-t-lg text-center px-4 shadow-md">
      <button class="rounded-lg bg-gradient-to-r from-cyan-500 to-blue-500 w-full py-3 text-white">Kostenlos Registrieren</button>
    </footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>