<template>
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6">
        <div class="text-center self-center text-river-bad text-xl my-6 w-60">
            Drei einfache Schritte zu deinem neuen Mitarbeiter
        </div>
        <tab-content 
            v-for="(content, index) in contentList" 
            :key="`employer-tab-content-${index}`"
            :content="content"
        />
    </div>
    
</template>

<script>
import TabContent from '../TabContent/TabContent.vue';

export default {
    name: 'EmployerContent',
    components: {TabContent},
    data() {
        return {
            contentList: [{
                    id: 1, 
                    number: '1.', 
                    text: 'Erstellen dein Unternehmensprofil', 
                    imgPath: 'img/img-2.png',
                    contentWrapperClasses: {
                    'bg-[length:220px_144px]': true,
                    'items-end': true,
                    'h-56': true,
                    'bg-right-top': true
                    },
                    textClasses: {
                    'pb-3': true
                    },
                    textWrapperClasses: {}
                },
                {
                    id: 2,
                    number: '2.',
                    text: 'Erstellen ein Jobinserat',
                    imgPath: 'img/img-6.png',
                    contentWrapperClasses: {
                    'bg-[length:220px_144px]': true,
                    'items-start': true,
                    'h-80': true,
                    'bg-right-bottom': true,
                    'py-10': true,
                    'bg-zumthor': true
                    },
                    textClasses: {
                    'pb-3': true,
                    'self-end': true,
                    },
                    textWrapperClasses: {
                    'ml-5': true
                    },
                    waveWrapperClasses: {
                        top: {
                            "bg-[url('/img/wave3.svg')]": true
                        },
                        bottom: {
                            "bg-[url('/img/wave4.svg')]": true
                        }
                    },
                    waves: true
                },
                {
                    id: 3,
                    number: '3.',
                    text: 'Whale deinen neuen Mitarbeiter aus',
                    imgPath: 'img/img-5.png',
                    contentWrapperClasses: {
                    'bg-[length:260px_184px]': true,
                    'items-start': true,
                    'h-80': true,
                    'bg-right-bottom': true,
                    },
                    textClasses: {
                    'self-end': true,
                    },
                    textWrapperClasses: {
                    'ml-8': true,
                    'flex': true
                    }
            }]
        }
    }
}

</script>
