<template>
  <div class="safe-top safe-left safe-right safe-bottom max-w-sm">
    <div class="disable-scrollbars max-h-screen h-full overflow-y-scroll">
      <App/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexPage'
}
</script>
