<template>
    <main class="flex-1 overflow-y-auto">
        <Welcome />
        <div class="block h-5-3 bg-repeat-x bg-contain bg-center bg-[url('/img/wave1.svg')]"></div>
        <MenuTabs />
    </main>
</template>

<script>
import MenuTabs from './MenuTabs/MenuTabs.vue'
import Welcome from './Welcome/Welcome.vue'
export default {
  components: { MenuTabs, Welcome },
  name: 'Content'
}
</script>