<template>
    <div>
        <div v-if="content.waves" class="block h-5-3 bg-repeat-x bg-contain bg-center" :class="content.waveWrapperClasses.top"></div>
        <div 
            :class="{...content.contentWrapperClasses}" 
            class="flex bg-no-repeat align-text-bottom text-slate-grey"
            :style="{backgroundImage: `url(${content.imgPath})`}"
        > 
            <div class="flex" :class="{...content.textWrapperClasses}">
            <span class="text-9xl">{{ content.number }}</span>
            <span class="ml-5 self-end" :class="{...content.textClasses}">{{ content.text }}</span>
        </div>
    </div>
    <div v-if="content.waves" class="block h-5-3 bg-repeat-x bg-contain bg-center" :class="content.waveWrapperClasses.bottom"></div>
    </div>
    
</template>

<script>

export default {
    name: 'TabContent',
    props: ['content']
}
</script>
